# Tooling
**.classpath
**.idea
**.iml
**.metadata
**.project
**.settings
**/eclipseBin

# Build artifacts
.gradle
**.class
**/build
**/classes
**/libJar
**/out
**/target

# Misc
**.bak
**.log
**.old
**.DS_Store

# Runtime files
**.key
**nodes.json
**nodes*.zip
**test.json
**/*.log.*.zip
/dslink-v2/dslink.jks
/dslink-v2-poc/dslink.jks
